<!-- <section class="about">
  <p>about</p>
</section> -->
<div class="container-about">
  <div>
    <svg class="icon" width="67" height="67">
      <use></use>
    </svg>
    <h3 class="title">Investmant Banking</h3>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
  </div>
  <div>
    <svg class="icon" width="67" height="67">
      <use></use>
    </svg>
    <h3 class="title">Portfolio Manager</h3>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
  </div>
  <div>
    <svg class="icon" width="67" height="67">
      <use></use>
    </svg>
    <h3 class="title">Tax & Custudio</h3>
    <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, necessitatibus!</p>
  </div>
</div>