<section class="cases">
  <div class="container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-smalltext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>

    <ul class="cases-list">
      <li class="cases-item"><img src="./img/cases/Rectangle.jpg" alt="cases-img1" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-1.jpg" alt="cases-img2" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-2.jpg" alt="cases-img3" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-3.jpg" alt="cases-img4" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-4.jpg" alt="cases-img5" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-5.jpg" alt="cases-img6" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-6.jpg" alt="cases-img7" class="cases-img" width="320" height="214"></li>
      <li class="cases-item"><img src="./img/cases/Rectangle-7.jpg" alt="cases-img8" class="cases-img" width="320" height="214"></li>
    </ul>
  </div>
</section>