<section class="solution">
  <div class="solution-container">
    <img src="./img/solution-img.jpg" alt="" width="680" height="460">
    <div class="solution-cont-right">
      <p class="solution-before-title">What you are looking for</p>
      <h2 class="solution-title">We provide bespoke solutions</h2>
      <p class="solution-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?</p>
      <button class="solution-button" type="button">Read More</button>
    </div>
  </div>
</section>
